@mixin flexCenter()
	display: -webkit-box
	display: -moz-box
	display: -ms-flexbox
	display: -webkit-flex
	display: flex
	-webkit-box-direction: normal
	-moz-box-direction: normal
	-webkit-box-orient: horizontal
	-moz-box-orient: horizontal
	-webkit-flex-direction: row
	-ms-flex-direction: row
	flex-direction: row
	-webkit-flex-wrap: wrap
	-ms-flex-wrap: wrap
	flex-wrap: wrap
	-webkit-box-pack: center
	-moz-box-pack: center
	-webkit-justify-content: center
	-ms-flex-pack: center
	justify-content: center
	-webkit-align-content: center
	-ms-flex-line-pack: center
	align-content: center
	-webkit-box-align: center
	-moz-box-align: center
	-webkit-align-items: center
	-ms-flex-align: center
	align-items: center

@mixin flexCenterVert()
    display: -webkit-box
    -webkit-box-orient: vertical
    -webkit-box-pack: center
    -webkit-box-align: left
    display: -moz-box
    -moz-box-orient: vertical
    -moz-box-pack: center
    -moz-box-align: center
    display: box
    box-orient: vertical
    box-pack: center
    box-align: center

@mixin flexContainer()
	display: -webkit-box
	display: -webkit-flex
	display: -moz-box
	display: -moz-flex
	display: -ms-flexbox
	display: flex
	-webkit-box-direction: normal
	-webkit-box-orient: horizontal
	-webkit-flex-direction: row
	-moz-flex-direction: row
	-ms-flex-direction: row
	flex-direction: row

@mixin flexItem($flexAmount)
	-webkit-box-flex: $flexAmount
	-webkit-flex: $flexAmount
	-moz-box-flex: $flexAmount
	-moz-flex: $flexAmount
	-ms-flex: $flexAmount
	flex: $flexAmount

@mixin flexHold()
	-webkit-box-flex: none
	-webkit-flex: none
	-moz-box-flex: none
	-moz-flex: none
	-ms-flex: none
	flex: none

@mixin flexColContainer()
	display: -webkit-box
	display: -moz-box
	display: -ms-flexbox
	display: -webkit-flex
	display: flex
	-webkit-box-direction: normal
	-moz-box-direction: normal
	-webkit-box-orient: vertical
	-moz-box-orient: vertical
	-webkit-flex-direction: column
	-ms-flex-direction: column
	flex-direction: column
	-webkit-flex-wrap: nowrap
	-ms-flex-wrap: nowrap
	flex-wrap: nowrap
	-webkit-box-pack: justify
	-moz-box-pack: justify
	-webkit-justify-content: space-between
	-ms-flex-pack: justify
	justify-content: space-between
	-webkit-align-content: space-between
	-ms-flex-line-pack: justify
	align-content: space-between
	-webkit-box-align: stretch
	-moz-box-align: stretch
	-webkit-align-items: stretch
	-ms-flex-align: stretch
	align-items: stretch

@mixin flexColItem($flexAmount)
	-webkit-box-ordinal-group: $flexAmount
	-moz-box-ordinal-group: $flexAmount
	-webkit-order: 0
	-ms-flex-order: 0
	order: 0
	-webkit-box-flex: $flexAmount
	-moz-box-flex: $flexAmount
	-webkit-flex: $flexAmount $flexAmount auto
	-ms-flex: $flexAmount $flexAmount auto
	flex: $flexAmount $flexAmount auto
	-webkit-align-self: auto
	-ms-flex-item-align: auto
	align-self: auto

@mixin flexColHold()
	-webkit-box-ordinal-group: 1
	-moz-box-ordinal-group: 1
	-webkit-order: 0
	-ms-flex-order: 0
	order: 0
	-webkit-box-flex: 0
	-moz-box-flex: 0
	-webkit-flex: 0 0 auto
	-ms-flex: 0 0 auto
	flex: 0 0 auto
	-webkit-align-self: auto
	-ms-flex-item-align: auto
	align-self: auto