@mixin scroll()
  overflow-y: scroll
  -webkit-overflow-scrolling: touch

@mixin shadow()
  box-shadow: 0px 1px 3px 0px rgba(#000, 0.1)
  -webkit-box-shadow: 0px 1px 3px 0px rgba(#000, 0.1)

@mixin shadowBig()
  box-shadow: 0 5px 10px rgba(#000, 0.1)
  -webkit-box-shadow: 0 5px 10px rgba(#000, 0.1)

@mixin transition($transitionTime)
	-webkit-transition: all $transitionTime ease-in-out
	-moz-transition: all $transitionTime ease-in-out
	-ms-transition: all $transitionTime ease-in-out
	-o-transition: all $transitionTime ease-in-out
	transition: all $transitionTime ease-in-out

@mixin transform($transformVar)
	-webkit-transform: $transformVar
	-moz-transform: $transformVar
	-ms-transform: $transformVar
	-o-transform: $transformVar
	transform: $transformVar
