@import "../../styles/variables"

.arrow
  display: inline-block
  width: 8px
  height: 8px
  border-style: solid
  border-width: 8px 8px 0 8px
  border-color: $text transparent transparent transparent
