@import "../../styles/variables"
@import "../../styles/mixins"

.button
  display: block
  background: $button_bg !important
  border: $button_border_width solid $button_border_color !important
  color: $button_color !important
  padding: $padding 4 * $padding !important
  height: auto !important
  font-size: 14px
  text-transform: uppercase
  font-weight: bold
  cursor: pointer !important
  border-radius: $radius !important
  +transition(0.2s)
  &:hover
    background: $button_bg_hover !important
    color: $button_color_hover !important
  &.button-disabled
    background: $border !important
    &:hover
      background: darken($border, 10%) !important

.button-center
  display: block
  width: 100%
  text-align: center

.button-right
  display: block
  width: 100%
  text-align: right

.button-margin-top
  margin-top: 2 * $padding

.button-margin-bottom
  margin-bottom: 2 * $padding

