@import "../../styles/flexbox"
@import "../../styles/mixins"
@import "../../styles/variables"

.card
  position: relative
  background: $item_bg
  padding: 2 * $padding
  border-radius: $radius
  margin-bottom: 4 * $padding
  +shadow()
  &:hover
    +shadowBig()
  &.no-padding
    padding: 0
