@import "../../styles/flexbox"
@import "../../styles/mixins"
@import "../../styles/variables"

.columns
  position: relative
  width: 100%
  +flexContainer
  .flex
    +flexItem(1)
  .no-flex
    +flexHold
  .center-vertically
    +flexCenterVert
  .padding
    padding: 2 * $padding
  .padding-horizontal
    padding: 0 2 * $padding
  .padding-vertical
    padding: 2 * $padding 0
  .padding-left
    padding-right: 2 * $padding
  .padding-right
    padding-right: 2 * $padding
  .border-left
    border-left: 1px solid $border
