@import "../../styles/flexbox"
@import "../../styles/variables"

.header
  width: 100%
  height: $header_height
  background: $header_bg
  padding: 2 * $padding
  border-top: 1px solid $border
  border-bottom: 1px solid $border
  &.flex
    +flexColHold()
  &.fixed
    position: absolute
    left: 0
  &.bottom
    bottom: 0
  &.top
    top: 0
  &.no-padding
    padding: 0

