@import "../../styles/flexbox"
@import "../../styles/mixins"
@import "../../styles/variables"

.item-label
  position: absolute
  top: 0
  right: 0
  width: 30px
  height: 30px
  background: $blue
  border-top-right-radius: $radius
  border-bottom-left-radius: $radius
  +flexCenter
  &.cheapest
    background: $green
  &.fastest
    background: $orange
