@import "../../styles/flexbox"
@import "../../styles/mixins"
@import "../../styles/variables"

.page
  position: absolute
  top: 0
  left: 0
  width: 100%
  height: 100%
  padding: 4 * $padding
  +flexColItem(1)
  &.scroll
    +scroll()
  &.no-padding
    padding: 0
