@import "../../styles/flexbox"
@import "../../styles/mixins"
@import "../../styles/variables"

$bar_height: 10px

.progress-bar
  position: relative
  width: 100%
  .progress-bar-bg
    position: relative
    width: 100%
    height: $bar_height
    border-radius: $bar_height / 2
    background: $border
  .progress-bar-bar
    position: absolute
    top: 0
    left: 0
    height: 100%
    background: #222
    border-radius: $bar_height / 2
    &.green
      background: $green
    &.orange
      background: $orange
    &.red
      background: $red
