@import "../../styles/variables"
@import "../../styles/mixins"

.select
  margin-bottom: 2 * $padding
  width: auto
  display: inline-block
  .arrow
    position: absolute
    top: 15px
    right: 2 * $padding
  .label
    margin-bottom: $padding
  .select-button
    position: relative
    background: $item_bg
    border: 1px solid $border
    overflow: visible
    z-index: 1
    cursor: pointer
    padding: $padding 2 * $padding
    min-width: 200px
    padding-right: 50px
  .options
    position: absolute
    top: 100%
    left: 0
    width: 100%
    background: $item_bg
    border: 1px solid $border
    +shadowBig
    .option
      border-bottom: 1px solid $border
      padding: $padding 2 * $padding
      +transition(0.1s)
      &:hover
        background: $border
