@import "../../styles/variables"
@import "../../styles/mixins"

.text-center
  text-align: center

.text-margin-top
  margin-top: 4 * $padding

.text-margin-bottom
  margin-bottom: 4 * $padding

.text-float
  width: auto
  display: inline-block

.text-bright
  color: #fff

.image-title,
.section-title,
.sub-title,
.card-title,
.italic,
.text,
.text-button
h1,
h2,
h3,
h4,
h5,
p,
div,
span
  margin: 0
  padding: 0
  color: $text
  font-family: $font

.image-title,
.section-title
  font-size: 36px
  font-weight: bold
  letter-spacing: 6px

.sub-title,
.card-title
  font-size: 20px
  letter-spacing: 2px

.text,
.italic
  font-size: 14px

.sub-title,
.card-title,
.text,
.italic,
.small
  &.text-margin-top
    margin-top: 2 * $padding
  &.text-margin-bottom
    margin-bottom: 2 * $padding

.card-title
  font-weight: bold

.italic
  font-style: italic
  color: $text_diffuse

.text-bold
  font-weight: bold

.small
  font-size: 10px
  font-weight: bold

.link
  color: $blue
  +transition(0.2s)
  &:hover
    color: $text

.text-button
  font-size: 16px
  font-weight: bold
  display: inline-block

@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2)
  .image-title,
  .section-title,
  .text-content h1
    font-size: 30px
    letter-spacing: 2px

  .sub-title,
  .card-title,
  .text-content h2
    font-size: 20px
    letter-spacing: 1px

  .text,
  .italic,
  .text-content p
    font-size: 14px
