@import "../../styles/flexbox"
@import "../../styles/mixins"
@import "../../styles/variables"

.compare-item
  width: 100%
  +flexContainer
  cursor: pointer
  padding: $padding 2 * $padding
  overflow: hidden
  +transition(0.1s)
  .logo
    background: $border
    border-top-left-radius: $radius - 1
    border-bottom-left-radius: $radius - 1
  &.selected
    background: $blue
  img
    width: 75px
    height: 75px
