@import "../../styles/flexbox"
@import "../../styles/variables"

.side-menu
  width: $sidebar_width
  height: 100%
  background: $sidebar_bg
  padding: 2 * $padding
  +flexHold
  .logo
    width: 65%
