@import "styles/flexbox"
@import "styles/variables"

*
  box-sizing: border-box
  -webkit-box-sizing: border-box

body, html
  margin: 0
  padding: 0
  overflow: hidden

#root
  position: absolute
  top: 0
  left: 0
  width: 100%
  height: 100%
  background: $bg
  +flexContainer
